@import "tailwindcss";

:root {
  --blue-500: oklch(70.7% 0.165 254.624);
  --blue-100: oklch(95.1% 0.026 236.824);
  --gray-900: oklch(21% 0.034 264.665);
  --gray-500: oklch(55.1% 0.027 264.364);
  --gray-300: oklch(87.2% 0.01 258.338);
  --gray-100: oklch(92.8% 0.006 264.531);
  --gray-50: oklch(98.5% 0.002 247.839);
}

html {
  scroll-behavior: smooth;
  background-color: var(--gray-100);
}

h1 {
  font-size: 2.25rem;
  /* line-height: 2.5rem; */
  font-weight: 700;
  letter-spacing: -0.025em;
}

h2 {
  font-size: 1.875rem;
  /* line-height: 2.25rem; */
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  /* line-height: 2rem; */
  font-weight: 600;
}

h4 {
  font-size: 1.35rem;
  /* line-height: 1.75rem; */
  font-weight: 500;
}

p {
  /* line-height: 1.5rem; */
}

button:not(:disabled) {
  cursor: pointer;
  transition: 0.3s;
}

[data-sonner-toaster] {
  z-index: 20 !important;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

legend {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;

  margin-bottom: 10px;
}

/* typically a checkbox */
label:not(:has(input)) {
  color: var(--gray-500);
}

/* typically a checkbox */
label:has(input) {
  width: fit-content;
}
