.mobile-nav-group {
    background-color: var(--gray-900);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-100%);

    transition: 0.3s;

    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    height: 100dvh;
}

.mobile-nav-group.open-nav {
    transition: 0.3s;

    transform: translateX(0);
}

.mobile-nav-link {
    display: block;
    color: var(--gray-300);
    padding: 12px 20px;

    transition: 0.3s;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
    transition: 0.3s;

    background-color: var(--gray-100);
    color: var(--gray-900)
}


.mobile-nav-link.selected,
.mobile-bottom-nav-link.selected {
    background-color: var(--gray-100);
    color: var(--gray-900);
}

.mobile-bottom-nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
    color: var(--gray-100);

    transition: 0.3s;
}

.mobile-bottom-nav-link:hover,
.mobile-bottom-nav-link:focus {
    transition: 0.3s;
    
    background-color: var(--gray-100);
    color: var(--gray-900);
}